<h1>Burgers!</h1>

<h2>Pick a burger you like!</h2>

<h2>Add a Burger!</h2>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
    <textarea type="text" id="burger" rows="7" name="name" placeholder="Guacamole Burger"></textarea>
  </div>

  <button type="submit">Add Burger</button>
</form>
